@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background: #FAFAFA;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #333;
}
.display-xs {
    display: none !important;
}
h1 {
    font-size: 60px;
    font-weight: bold;
}
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
@media (max-width: 767px) {
    .display-xs {
        display: block !important;
    }
}
header {
    text-align: center;
    padding: 10px 0 60px;
}
.collapse.navbar-collapse {
    text-align: center;
}
ul.nav.navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .collapse li {
    background: transparent;
    border: 0;
    font-size: 24px;
    margin: 20px 0 5px;
    padding: 4px 24px;
    border-right: 1px solid #DCDCDC;
    border-radius: 0;
}
.navbar .collapse li:last-child {
    border-right: 0;
}
.home_api .input-group {
    margin-top: 20px;
}
.home_api .help {
    margin: 7px 0 15px;
    display: block;
    font-style: italic;
}
#view_make {
    max-height: 400px;
}
footer {
    font-size: 16px;
    margin-top: 40px;
    border-top: 1px solid #e7e7e7;
    padding: 40px 0 20px;
}
footer a {
    text-decoration: underline;
}
